.container {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: repeat(3, 1fr);
  height: 80vh;
  width: 67vw;
  margin: auto;
  gap: 7.3%;
}

body {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff7e6;
  max-height: 20vh;
  width: stretch;
}

.card > button {
  margin-top: 10%;
  background-color: red;
  color: white;
}

.starter-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.add-book {
  background-color: aqua;
}

.form-popup {
  display: none;
  height: 98%;
  width: 98%;
  position: absolute;
  background-color: grey;
}

.form-field {
  margin: 20px;
  font-size: xx-large;
}

.form-field,
.form-field div {
  margin-left: 0;
}

.submit-button {
  margin-left: 30%;
  height: 2rem;
  width: 30%;
}

input[type="number"] {
  appearance: textfield;
}

input {
  height: 1.2rem;
  /* width: fit-content; */
  width: max-content;
}

input#completed-input {
  height: 1.2rem;
  width: 1.2rem;
}
