.container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(3, 1fr);
  height: 37vh;
  width: 67vw;
  margin: auto;
  gap: 7.3%;
}

body {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7e6;
}

.starter-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.add-book {
  background-color: aqua;
}
